body
{
	font-family:'Ubuntu';
	background: url(../img/bg_main.jpg);
	background-position: top center;
	background-size: 1920px;
	overflow-x: hidden;
}
@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/bebas_neue_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bebas_neue_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bebas_neue_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bebas_neue_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bebas_neue_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bebas_neue_bold.svg#bebas_neue_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/bebasregular.ttf'); /* IE 9 Compatibility Mode */

}
*
{
	font-family:'Ubuntu';
}
a:hover
{
	text-decoration: none;
}
a
{
	text-decoration: none;
}
.success
{
	  width: 380px;
    text-align: center;
}
.page404
{
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100vh;
	align-items: center;
}

.wrapper-menu a
{
	font-size:60px;
	font-family:'Bebas Neue Bold';
	color:#4f4f4f;
}	
.close-menu img
{
	width: 30px;
}
.close-menu
{
	position: absolute;
	right: 20px;
	cursor: pointer;
	top:20px;
	font-family:'Bebas Neue Bold';
}
.wrapper-menu
{
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding-left: 50px;
}
.fixed-menu.open
{
	transform: translateX(0);
}
.fixed-menu
{
	transform:translateX(-100%);
	position: fixed;
	transition: 0.4s;
	left: 0px;
	top:10vh;
	width: 25vw;
	height:80vh;
	background: url(../img/bg_menu.png);
	z-index: 100;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#error404
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%; 
	width: 100%;
}
.blue-gradient-btn
{
	background: red;
	padding: 7px 60px;
	background: linear-gradient(to bottom,#8086cb,#25dee0);
	border-radius: 100px;
	color:#fff;
	font-size:20px;
}
.title-error
{
	font-size:30px;
	font-weight: bold;
	text-transform: uppercase;
	color:#3b3b3b;
	margin-bottom: 0.5em;
	margin-top:1em;
}
.title-error
{
	color:#000;
}
h1,h2,h3,h4,h5,h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span
{
	font-family:'Bebas Neue Bold';
}
.button
{
	    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		font-size: 20px;
		padding: 15px 30px;
}
select, input, textarea
{
	outline: none;
}
.fixed-menu-top
{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	padding-top:40px;
	padding-bottom: 10px;
	transition: 0.3s;
	z-index: 10;
}
.fixed-menu-top .row
{
	align-items: center;
}
.logo img
{	
	max-width: 300px;
}
.number-menu-top
{
	font-size:36px;
	color:#fff;
	font-family:'Bebas Neue Bold';
	margin-right: 40px;
}
#form .container
{
	position: relative;
}
.gradient-btn span
{
	display: block;
	transform:skewX(8deg);
}

.gradient-btn 
{
	overflow: hidden;
	transform:skewX(-8deg);
	color:#fff;
	border-radius: 6px;
	display: block;
	border:none;
	background-position: left;
	background: linear-gradient(to right,#01a25a 45%,#52c989,#fcee89 100%);
	box-shadow: inset 0 0 10px #ffffff;
	font-weight: 400;
	line-height: 1.2em;
	transition: .3s;
}
.right-tools-header
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.burger-menu-top
{
	position: absolute;
	left: -70px;
	top:50%;
	cursor: pointer;
	transform:translateY(-50%);
}

.main-header h1
{
	font-size: 120px;
	color:#fff;
	line-height: 1em;
	margin-bottom: 20px;
}
.yellow
{
	color:#e1e883;
}
.description-header:after
{
	content:'';
	position: absolute;
	left: -50px;
	bottom: -100px;
	height: 500px;
	width: 600px;
	filter:blur(70px);
	background: #007bae;
	z-index: -1;
	opacity: 0.75;
	border-radius: 100%;
}
.description-header
{
	position: relative;
	font-size:27px;
	font-weight: 300;
	color:#fff;
	margin-bottom: 20px;
}
.main-header .gradient-btn
{
	padding-left: 60px;
	border-radius: 10px;
	padding-right: 60px;
}
.main-header
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding:100px 0px;
}
.title-section *
{
	font-family:'Bebas Neue Bold';
}
.title-section .title-number
{
	color:#e1e883;
	font-size:160px;
	line-height: .8em;
	margin-right: 13px;
}
.title-section
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.title-content
{
	font-size:60px;
	color:#fff;
	line-height: 1.1em;
}
.fixed-menu-top.sticked
{
    background: #002b6169;
    padding-top:10px;
}
.title-section
{
	margin-bottom: 50px;
}
.subtitle-content > span
{
	font-family:'Bebas Neue Bold';
}
.subtitle-content
{
	font-size:36px;
	margin-bottom: 45px;
	color:#fff;
	font-family:'Bebas Neue Bold';
}
.portfolio-table .portfolio-table-item:nth-of-type(odd)
{
	flex:0 0 60%;
}
.portfolio-table .portfolio-table-item
{
	flex:0 0 40%;
}
.portfolio-table-item
{
	margin-bottom: 20px;
}
.portfolio-table-item-content
{
	font-size:22px;
	color:#fff;
	font-weight: 400;
}
.portfolio-table-item-label
{
	color:#5bb4da;
	font-size:18px;
	margin-bottom: 5px;
}
.portfolio-table
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.portfolio-table-item-content-number .yellow
{
	font-size:36px;
	font-family:'Bebas Neue Bold';
}
.portfolio-table-item-content-number
{
	font-size:18px;
	color:#fff;
}
.portfolio-total-label
{
	color:#5bb4da;
	font-size:24px;
}
.portfolio-total-number
{
	font-family:'Bebas Neue Bold';
	font-size:36px;
}
.portfolio-total
{
	margin-top:30px;
}
.portfolio-image
{
	border-radius: 10px;
	overflow: hidden;
	border:solid 2px;
}
.portfolio-images
{
	margin-top:90px;
}
.portfolio-images img
{
	width: 100%;
	height: 320px;
	object-fit: cover;
}
.next-slider
{
	z-index: 1;
	position: absolute;
	right: 0;
	top:50%;
	height: 50px;
	transform:translate(50%,-50%);
	width: 50px;
	background:url(../img/next.png) center no-repeat, linear-gradient(-45deg,#01a86b, #4ace91,#0d9c5a,#00a85b);
	border-radius: 100%;
	box-shadow: inset 0 0 6px #ffffff;	
	cursor: pointer;
	transition: 0.4s;
}
.next-slider:hover,
.prev-slider:hover
{
	filter:brightness(0.7);
}
.prev-slider
{
	z-index: 1;
	position: absolute;
	left: 0;
	top:50%;
	transform:translate(-50%,-50%);
	height: 50px;
	width: 50px;
	background:  url(../img/prev.png) center no-repeat, linear-gradient(-45deg,#01a86b, #4ace91,#0d9c5a,#00a85b);
	border-radius: 100%;
	box-shadow: inset 0 0 6px #ffffff;
	cursor: pointer;
	transition: 0.4s;

}
#portfolio .container
{
	position: relative;
}
.item-portfolio
{
	padding-right: 50px;
	margin-bottom: 20px;
}
.slick-slider-portfolio
{
	width: calc(100% + 50px);
}
.yellow-button span
{
	display: block;
}
.skewed-button span
{
	transform:skewX(20deg);
	display: block;
}
.skewed-button
{
	transform:skewX(-20deg);
}
.yellow-button
{
	background: #e3ee9f;
	font-size:20px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 7px;
	color:#262626;
}
.star
{
	position: absolute;
	right: -60px;
	bottom: 10px;
	z-index: -1;
}
.medusa:after
{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -18px;
    height: 200px;
    width: 150px;
    filter: blur(44px);
    background: #007bae;
    z-index: -1;
    border-radius: 100%;
    animation:fadeIn 5s infinite alternate;
  }
.medusa
{
	position: absolute;
	left: calc(50% - 50px);
	bottom: 50px;
	z-index: -1;
}

.default-block
{
	padding: 50px 0;
	position: relative;
}
.shark img
{
	max-width: 28vw;
}
.shark
{
	position: absolute;
	left: 0;
	z-index: -1;
	top:-100px;
}
.service-number
{
	font-size:80px;
	font-family:'Bebas Neue Bold';
}
.service-item
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.service-text
{
	font-size:21px;
	color:#fff;
	padding-left: 30px;
	font-weight: lighter;
}
#services .container 
{
	position: relative;
}
.vodolaz
{
	position: absolute;
	right: -150px;
	top:50%;
	margin-top:-50px;
	z-index: -1;
}
.step-item
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 40px;
}
.star-text span
{
	font-weight: 600;
}
.star-text
{
	padding-left: 20px;
	color:#fff;
	font-size:21px;
	font-weight: 300;
	line-height: 1.7em;
}
.step-star
{
	position: relative;
	top:4px;
}
.row-steps > *:first-child .star-text
{
	color:#ffe374;
}
.row-steps
{
	padding-top:40px;
	margin-bottom:50px;
}

.col-form .wrapper-input button,
.col-form .wrapper-input input
{
	height: 100%;
	width: 100%;
	transform:skewX(15deg);
	border:none;
	background: transparent;
}
.wrapper-input
{
	width: 100%;
	height: 75px;
	transform:skewX(-15deg);
	background: #fff;
	border:none;
	border-radius: 7px;
	overflow: hidden;
}
.wrapper-input-submit button
{
	color:#fff;
	font-weight: 600;
	font-size:18px;
	font-style: italic;
}
.wrapper-input-submit
{
	background: linear-gradient(to right,#01a25a 60%,#fce973,#fce973 110%);	
	filter:drop-shadow(0px  35px 32px #28ad6e); 
	box-shadow: inset 0 0 5px #fff;
	color:#fff;
}
.col-form
{
	padding: 0 15px;
	flex:0 0 33.333333%;
}
.form-style
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.input-style::placeholder
{
	color:#b1b1b1;
	font-size:18px;
	font-style: italic;
}
.input-style
{
	padding-left: 20px;
	font-size:18px;
}
.review-item img
{
	max-width: 100%;
}
.review-item 
{
	position: relative;
	padding: 0 10px;
	overflow: hidden;
}
.slick-reviews img
{
	display: block;
	border-radius: 7px;
}
.slick-reviews
{
	margin-left: -10px;
	margin-right: -10px;
}
.slick-reviews .next-slider
{
	right: 10px;
}
.slick-reviews .prev-slider
{
	left: 10px;
}
.row-reviews > *
{
	padding: 0 40px;
}
.row-reviews
{
	align-items: center;
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: 30px;
}
.ytp-large-play-button:hover
{
	filter:brightness(0.8);
}
.ytp-large-play-button
{
	transition: 0.3s;
	background: url(../img/play_video.png);
}
.video-item
{
	border-radius: 5px;
	overflow: hidden;
}
.client-slider
{
	margin:0 -7px;
}
.modal-content
{
	background: url(../img/bg_modal.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.modal .close img
{
	width: 35px;
}
.modal .close
{
	opacity: 1;
	position: absolute;
	right: 65px;
	top:40px;
	outline: none !important;
}
.modal-dialog
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
	height: 100%;
	width: 100%;
	max-width: none;
}
#form .success
{
	color:#fff;
	width: 100%;
}
.modal .form-style .col-form
{
	flex:0 0 100%;
	margin:5px 0;
}
.modal .modal-content
{
	padding: 90px 0;
	border:none;
	max-width: 950px;
}
.modal .form-style
{
	min-height: 280px;
	flex-wrap: wrap;
	max-width: 380px;
	margin:0 auto;
}
.title-modal
{
	text-align: center;
	font-size:50px;
	font-family:'Bebas Neue Bold';
	color:#4f4f4f;

}
.client-item .client-img
{
	height: 130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #042d45;
}
.client-item .client-img img
{
	margin:0 auto;
	max-width: 100%;
}
.client-item
{
	padding: 0 7px;
	text-align: center;
}
#clients .title-content
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
#clients .prev-slider
{
	left: 7px;
}
#clients .next-slider
{
	right: 7px;
}
.faq-question
{
	background: #01a86b;
	color:#fff;
	padding-left: 47px;
	padding-top:30px;
	padding-bottom: 30px;
	border-radius: 6px;
	font-weight: 500;
	font-size:18px;
	padding-right: 50px;
	box-shadow: inset 0 0 10px 2px rgba(255,255,255,.57);
	cursor: pointer;
}
.faq-wrapper:after
{
	content:'';
	position: absolute;
	right: 40px;
	top:29px;
	width: 30px;
	background: url(../img/arrow_bottom.png) no-repeat;
	background-position: center;
	height: 30px;
}
.faq-wrapper
{
	margin-bottom: 30px; 
}
.faq-answer
{
	background: rgba(255,255,255,0.8);
	position: relative;
	top:-5px;
	z-index: -1;
	padding: 20px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	font-weight: 300;
	display: none;
}
#faq .yellow-button span
{
	transform:skewX(15deg);
	font-weight:600;
}
#faq .yellow-button
{
	transform:skewX(-15deg);
	background: #e1e883;
	padding: 20px 35px;
	border-radius: 10px;
}
.bebas
{
	font-family:'Bebas Neue Bold';
}
.congrats-title
{
	color:#fff;
	font-size:36px;
	font-family:'Bebas Neue Bold';
	line-height: 1.3em;
	margin-bottom: 30px;
}
#congrats
{
	padding-top:250px;
	padding-bottom: 380px;
}
.logo-footer
{
	font-size:36px;
	color:#fff;
	margin-bottom: 20px;
}
footer *
{
	color:#fff;
}
.phone-footer,
.mail-footer
{
	display: block;
	font-family: 'Bebas Neue Bold';
	font-size:36px;
}
.mail-footer
{
	font-size:28px;
}
.address-footer
{
	font-family:'Bebas Neue Bold';
	font-size:28px;
}
footer
{
	padding-bottom: 30px;
}
.footer-dev img
{
	display: block;
	margin-right: 0;
	margin-left: auto;
}
.footer-dev span
{
	display: block;
	padding-right: 25px;
	text-align: right;
	font-family:'Bebas Neue Bold';
	font-size:35px;
}
footer > .container > .row
{
	align-items: center;
}
#congrats .container,
#congrats
{
	position: relative;
}
.aboat
{
	position: absolute;
	left: -400px;
	top:-400px;
	z-index: -1;
}
.lights
{
	position: absolute;
	left: 0;
	left: 280px;
	top:320px;
	bottom: 0px;
	animation:fadeIn 3s alternate-reverse infinite;
}
.betiskaf
{
	z-index: -1;
	position: absolute;
	left: 0;
	top:0;
}
.fadeInRightBottom
{
    -webkit-animation-name: fadeInRightBottom;
    animation-name: fadeInRightBottom;
}
.swim
{
    -webkit-animation-name: swim;
    animation-name: swim;	
}
.swimRight
{
    -webkit-animation-name: swimRight;
    animation-name: swimRight;
}

.company-group {
    padding: 15px;
    box-shadow: 0 0 20px #005175;
    color:#fff;
		background: rgba(0, 21, 42, 0.65);
}
.company-group__logo
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.company-group__main-logo, .company-group__logo {
    text-align: center;
}
.medusa-form:after
{
	    content: '';
    position: absolute;
    left: 0px;
    bottom: -18px;
    height: 200px;
    width: 150px;
    filter: blur(44px);
    background: #007bae;
    z-index: -1;
    border-radius: 100%;
    animation:fadeIn 5s alternate infinite;
}
.medusa-form
{
	position: absolute;
	right: -150px;
	top:100px;
}
.kit
{
	position: absolute;
	right: 0;
	bottom: -470px;

	z-index: -1;
}
.page-wrapper
{
	padding-top: 150px;
	position: relative;
}
.breadcrumb li:after
{
	content:'/';
	position: absolute;
	right: 0;
	top:0;
}
.breadcrumb li:last-child:after
{
	display: none;
}
.breadcrumb li
{
	margin-right: 10px;
	padding-right: 15px;
	position: relative;
	font-size:22px;
	font-weight: 300;
}
.breadcrumb a
{
	color:#ffe374;
}
.breadcrumb
{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background:transparent;
	padding: 0;
	padding-top:20px;
	padding-bottom: 20px;
	color:#fff;
	max-width: 70%;
	position: relative;
	z-index: 2;
}
.title-page
{
	color:#ffe374;
	font-size:60px;
}
.about-us-left
{
	flex:0 0 45%;
}
.about-us-text
{
	flex:0 0 55%;
}
.about-us-left iframe
{
	width: 100%;
	display: block;
}
.about-us-text p
{
	margin:.5em 0;
}
.about-us-text
{
	padding-left: 20px;
	padding-right: 20px;
	color:#fff;
	font-size:23px;
	font-weight: 400;
	line-height: 1.3em;
}
.about-us-block
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	background: #00152aa3;
	margin-bottom: 50px;
}
.team-image img
{
	border-radius: 100%;
	display: block;
	margin:0 auto;
	height: 100%;
	padding-bottom: 0;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	object-fit: cover;
	padding-top:43px;
	width: 100%;
}
.team-image
{
	position: relative;
}
.team-item
{
	position: relative;
}
.team-item:before
{
	content:'';
	position: absolute;
	right: -20px;
	bottom: 30px;
	z-index: -1;

	width: 100%;
	height: 100px;
	background: url(../img/shadow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.team-image:after
{
	content:'';
	position: absolute;
	left: 0;
	width: 100%;
	height: 320px;
	top:0;
	background: url('/img/illuminator.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.team-info
{
	text-align: center;
}
.team-position
{
	color:#9ddbea;
	font-weight: bold;
	font-size:18px;
}
.team-name
{
	margin-top: 20px;
	color:#fff;
	font-weight: bold;
	font-size: 25px;
}
.team-slider .next-slider
{
	margin-top:-45px;
	right: -15px;
}
.team-slider .prev-slider
{
	margin-top: -45px;
	left: -15px;
}
.team-slider
{
	margin:150px 0;
}
.form-column .col-form .wrapper-input
{
	max-width: 350px;
	margin:0 auto;
}
.form-column .col-form
{
	flex:0 0 100%;
	margin-bottom: 20px;
}
#form .aboat
{
	top:-200px;
}
.company-group-container
{
	position: relative;
}
.video-reviews-page .next-slider
{
	right: 10px;
}
.video-reviews-page .prev-slider
{
	left: 10px;
}
.video-reviews-page .slick-list
{
	filter:drop-shadow(0 0 10px #000);
}
.video-reviews-page 
{
	margin:40px -10px;
}
.video-reviews-page .video-review-item .lazyYT
{
	border-radius: 10px;
	overflow: hidden;
}
.video-reviews-page .video-review-item
{
	padding: 0 10px;
}
.reviews-images-row .reviews-image img
{
	height: 370px;
	width: 100%;
	object-fit: cover;
}
.reviews-images-row .reviews-image:after
{
	content:'';
	position: absolute;
	right: -70px;
	bottom:-70px;
	background: #0b9c5a;
	transform:rotate(45deg);
	width: 130px;
	height: 130px;
}
.reviews-images-row .reviews-image:hover .plus
{
	transform: scale(1.1);
}
.reviews-images-row .reviews-image:hover img
{
	filter:none;
}
.reviews-images-row .reviews-image img
{
	filter:brightness(0.8);
	transition: .3s;
}
.reviews-images-row .reviews-image
{
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,0.8);
	overflow: hidden;
}
.reviews-images-row .reviews-image-col
{
	flex:0 0 25%;
	padding: 10px;
	max-width: 25%;
}
.plus > span:last-child
{
	background: #fff;
	height: 25px;
	width: 6px;
	position: absolute;
	right: 16px;
	bottom: 11px;
}
.plus > span:first-child
{
	background: #fff;
	width: 25px;
	height: 6px;
	position: absolute;
	right: 7px;
	bottom: 20px;
}
.plus > span
{
	position: relative;
	z-index: 1;
	display: block;
}
.plus
{
	position: absolute;
	right: 4px;
	bottom: 4px;
	transition: .4s;
	z-index: 1
}
.reviews-images-row
{
	margin:0 -10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.tabs li:after
{
	content:'|';
	position: absolute;
	right: 0;
	top:0;
	color:#ffe374;
}
.tabs li:last-child:after
{
	display: none;
}
.tabs li
{
	position: relative;
	margin-right: 10px;
	padding-right: 20px;
	font-family:'Bebas Neue Regular';
	font-size: 35px;
}
.tabs li a.active
{
	color:#ffe374;
}
.tabs li a:hover
{
	color:#ffe374;
}
.tabs li a
{
	font-family:'Bebas Neue Regular';
	font-size: 35px;
	color:#fff;
	padding: 0;
	transition: 0.3s;
}
.tabs
{
	padding-left: 0;
	margin-bottom: 2em;
}
.portfolio-row
{
	margin:0 -50px;
	flex-wrap: wrap;
}
.portfolio-col
{
	flex:0 0 50%;
	padding: 0 50px;
	padding-bottom:50px;
}
.page-wrapper .shark
{
	top:50%;
}
#cases
{
	min-height: 1000px;
	position: relative;
}
.portfolio-year
{
	color:#fff;
	font-weight: 300;
	font-size:24px;
}
.portfolio-row
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.portfolio-name a{
	font-weight: bold;
	color:#fff;
	font-family:'Bebas Neue Bold';
	font-size:30px;
}
.portfolio-head
{
	background: #01a86b;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	border-radius: 3px;
	box-shadow: inset 0 0 8px rgba(255,255,255,0.7), 0 10px 40px #0f4768c7;
	z-index: 1;
	position: relative;

}
.portfolio-content
{
	padding-top:50px;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
	padding-bottom: 10px;
	border-radius: 0 0 5px 5px;
	position: relative;
	left: 10px;
	width: calc(100% - 20px);
	box-shadow: 5px 25px 20px #0f4768c7;
}
.portfolio-info-title
{
	color:#5bb4da;
}
.portfolio-info-col
{
	margin-bottom: 1em;
	flex:0 0 50%;
}
.portfolio-info-value-number span
{
	display: block;
	font-size:36px;
	font-family:'Bebas Neue Bold';
	line-height: 1em;
	color:#ffe374;
}
.portfolio-info-value
{
	font-size:23px;
}
.portfolio-info
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.portfolio-end span
{
	color:#ffe374;
	font-family:'Bebas Neue Bold';
	font-size:36px;
}
.portfolio-end
{
	font-weight: bold;
	font-size:24px;
	color:#2f2f2f;
}
.pagination li.active > *
{
	background: #00c16b;
}
.pagination li span,
.pagination li a
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 55px;
	width: 55px;
	align-items: center;
	justify-content: center;
	color:#fff;
	font-size:30px;
	background: linear-gradient(-45deg,#01a86b, #4ace91,#0d9c5a,#00a85b);
	border-radius: 100%;
	box-shadow: 
	0px 20px 50px 30px #28ad6e9e, inset 0 0 6px #ffffff

}
.pagination li
{
	margin:0 8px;
}
.pagination
{
	margin-top:50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.blog-header .blog-title a{
	color:#fff;
}
.blog-header .blog-title
{
	font-size:25px;
	font-weight: 400;
}
.blog-header .blog-year
{
	font-size:22px;
	font-weight: 300;
}
.blog-item-summary .blog-content
{
	position:relative;
	left:10px;
	width:calc(100% - 20px);
}
.blog-item-summary
{
	margin-bottom: 20px;
}
.blog-img img
{
	max-width:100%;
	max-height: 300px;
	object-fit: cover;
}
.blog-content-summary
{
	font-size:22px;
	line-height: 1.3em;
}
.blog-header
{
	color:#fff;
	padding: 20px 30px 20px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
  background: #01a86b;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 8px rgba(255,255,255,0.7), 0 10px 30px #0f4768c7;
}
.blog-content
{
	background: #fff;
	position: relative;
	top:-2px;
	padding: 40px 25px;
}
.blog-wrapper
{
	margin-bottom: 40px;
}
.back-to-blog
{
	text-align: right;
	position: relative;
	margin-top:-80px;
	z-index: 1;
	margin-bottom: 30px;
}
.blog-content img
{
	max-width: 100%;
}
.title-contact
{
	color:#ffe374;
	font-size:24px;
	margin-bottom:0.5em;
}
.content-contact a
{
	color:#fff;
	display: block;
}
.content-contact
{
	font-size:24px;
	line-height: 1.6em;
	color:#fff;
}
.contacts
{
	margin-top:40px;
	position: relative;
}
.contacts:after
{
	   content: '';
    position: absolute;
    left: -50px;
    bottom: -40px;
    height: 500px;
    width: 600px;
    filter: blur(70px);
    background: #007bae;
    z-index: -1;
    opacity: 0.7;
    border-radius: 100%;
}
.copyright
{
	text-align: center;
	color:#fff;
	margin: 20px 0;
}
.content-contact
{
	margin-bottom: 30px;
}
@keyframes swim
{
	0%
	{
		opacity: 0.3;
		transform:translate(-400px,400px) rotate(-80deg);
	}
	100%
	{
		opacity: 1;
		transform:none;
	}
}

@keyframes swimRight
{
	0%
	{
		opacity: 0.3;
		transform:translate(300px,400px) rotate(-80deg);
	}
	100%
	{
		opacity: 1;
		transform:none;
	}
}

@keyframes fadeInRightBottom
{
	0%
	{
		transform:translate(-50%,-50%) rotate(90deg);
	}
	100%
	{
		transform: translateX(0,0) rotate(0deg);
	}
}

@media screen and (min-width:1620px)
{
	#congrats
	{
	padding-bottom:250px;
	}
}
@media screen and (max-width:1600px)
{
	.kit
	{
		bottom: -400px;
		right: -100px;
	}
	.kit img
	{
		max-width: 700px;
	}
	.main-header h1
	{
		font-size:70px;
	}
	.fixed-menu-top
	{
		padding-top:20px;
	}
	.logo img
	{
		max-width: 200px;
	}
	.burger-menu-top
	{
		left: -40px;
	}
	.burger-menu-top img
	{
		max-width: 30px;
	}
	.number-menu-top
	{
		font-size:30px;
	}
	body
	{
		font-size:15px;
	}
	.button
	{
		font-size:15px;
	}
	.description-header
	{
		font-size:15px;
	}
	.shark img
	{
		max-width: 26vw;
	}
	#congrats
	{
		padding-bottom: 200px;
		padding-top:100px;
	}
	.default-block
	{
		padding: 70px 0;
	}
	.aboat
	{
		top:-270px;
	}
	.wrapper-menu a
	{
		font-size:40px;
	}
	.close-menu img
	{
		width: 20px;
	}
	.modal .modal-content
	{
		padding: 50px 0;
		max-width: 700px;
	}
	.wrapper-input
	{
		height: 60px;
	}
	.modal .close img
	{
		max-width: 20px;
	}
	.modal .close
	{
		right: 40px;
	}
}
@media screen and (max-width:1360px)
{
	.form-style
	{
		margin-bottom: 100px;
	}
}
@media screen and (max-width:992px)
{
	.default-block
	{
		padding:  30px 0;
	}
	.row-steps
	{
		margin-bottom: 0;
	}
	.fixed-menu
	{
		width: 100%;
	}
	.fixed-menu-top button
	{
		display: none;
	}
	.logo img
	{
		width: 150px;
	}
	.number-menu-top
	{
		margin-right: 0px;
		font-size:20px;
	}
	.burger-menu-top
	{
		margin-right: 10px;
		position: relative;
		left: 0;
		top:0;
		transform:none;
	}
	.col-left-header
	{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.title-section .title-number
	{
		font-size:90px;
	}
	.title-content
	{
		font-size:35px;
	}
	.subtitle-content
	{
		font-size:30px;
	}
	.portfolio-images .prev-slider
	{
		left: 25px;
	}
	.portfolio-images .next-slider
	{
		right:25px;
	}
	.portfolio-images
	{
		margin-top:30px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.portfolio-images img
	{
		height: 200px;
	}
	.slick-slider-portfolio
	{
		width: 100%;
	}
	.item-portfolio
	{
		padding-right: 0px;
	}
	.col-form
	{
		flex:0 0 100%;
		margin-bottom: 10px;
	}
	.row-reviews .col-lg-6
	{
		margin-bottom: 30px;
	}
	.slick-reviews .prev-slider
	{
		left: 20px;
	}
	.slick-reviews .next-slider
	{
		right: 20px;
	}
	.slick-video .next-slider
	{
		right: 10px;
	}
	.slick-video .prev-slider
	{
		left: 10px;
	}
	.aboat
	{
		display: none;
	}
	#congrats
	{
		padding-bottom: 50px;
		padding-top:50px;
	}
	.faq-question
	{
		padding: 20px 20px;
		line-height: 1.3em;
	}
	.faq-wrapper:after
	{
		top:15px;
		right:25px;
	}
	.modal .modal-content
	{
		background-size: cover;
		padding: 70px 0;
	}
	.modal .close
	{
		right: 10px;
	}
	.title-modal
	{
		font-size:40px;
		margin-bottom:0.5em;
	}
	body
	{
		background-size: 2500px;
		background-position: left;
	}
	.footer-dev img
	{
		width: 60px;
	}
	.footer-dev
	{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.vodolaz
	{
		opacity: .5;
	}
	.shark img
	{
		max-width: 100%;	
		opacity: 0.5;
	}
	.phone-footer, .mail-footer
	{
		font-size:26px;
	}
	.address-footer
	{
		font-size:23px;
	}
	.footer-dev
	{
		margin-top:30px;
		justify-content: flex-start;
	}
	.footer-dev img
	{
		width: 40px;
	}
	#error404 img
	{
		max-width: 100%;
	}
	.title-error
	{
		font-size:20px;
	}
	.portfolio-row
	{
		margin:0 -15px;
	}
	.portfolio-col
	{
		padding-left: 15px;
		flex:0 0 100%;
		padding-right: 15px;
	}
	.portfolio-info-value
	{
		font-size:15px;
	}
	.portfolio-end span
	{
		font-size:30px;
	}
	.portfolio-end
	{
		font-size:18px;
	}
	.pagination li a
	{
		font-size:16px;
		width: 50px;
		height: 50px;
	}
	.title-page
	{
		font-size:40px;
	}
	.about-us-left,
	.about-us-text
	{
		flex:0 0 100%;
	}
	.team-slider .prev-slider{
		left: 10px;
		margin-top:-35px;

	}
	.team-slider .next-slider
	{
		right: 10px;
		margin-top:-35px;
	}
	.team-slider
	{
		margin:50px 0;
	}
	.about-us-text
	{
		font-size:17px;
	}
	.video-reviews-page .prev-slider
	{
		left: 20px;
	}
	.video-reviews-page .next-slider
	{
		right: 20px;
	}
	.reviews-images-row .reviews-image-col
	{
		flex:0 0 50%;
		max-width: 50%;
	}
	.reviews-images-row .reviews-image img
	{
		height: 220px;
	}
	.back-to-blog
	{
		margin-top: 0;
	}
	.blog-header 
	{
		flex-wrap: wrap;
	}
	.blog-header .blog-year
	{
		flex:0 0 100%;
		font-size:20px;
	}
	.blog-header .blog-title
	{
		flex:0 0 100%;
		line-height: 1.3em;
		font-size:20px;
		margin-bottom: 0.5em;
	}
	#clients .prev-slider
	{
		left: 20px;
	}
	#clients .next-slider
	{
		right: 20px;
	}
}